# Usage:
# 1. Copy this file as `.env` into your project
# 2. Adapt the information below with the your personal data.
#
# The file `.env` is ignored by git. Note: DO NOT COMMIT your personal data.

export WATCH_NAMESPACE="$(shell kubectl config view --minify -o jsonpath='{..namespace}')"
export K8S_CLUSTER_ROOT=<your-cluster-root-path>
export LOG_LEVEL=DEBUG

# optional
#export STAGE=development
