apiVersion: v1
values:
  images:
    serviceDiscovery: cloudogu/k8s-service-discovery:4.0.0
patches:
  values.yaml:
    manager:
      image:
        registry: "{{ registryFrom .images.serviceDiscovery }}"
        repository: "{{ repositoryFrom .images.serviceDiscovery }}"
        tag: "{{ tagFrom .images.serviceDiscovery }}"
