global:
  imagePullSecrets:
    - name: "ces-container-registries"
manager:
  image:
    registry: docker.io
    repository: cloudogu/k8s-service-discovery
    tag: 5.0.1
  env:
    logLevel: info
  resources:
    limits:
      memory: 105M
    requests:
      cpu: 15m
      memory: 105M
  replicas: 1
  imagePullPolicy: IfNotPresent
ingress:
  controller: k8s-ces-gateway
networkPolicies:
  enabled: true
  denyAll: true
  ingressControllerAllowedCIDR: "0.0.0.0/0"
loadBalancerService:
  annotations: {}
  internalTrafficPolicy: Cluster
  externalTrafficPolicy: Local
