# Role Definition: service discovery role is responsible for creating / updating ingresses for dogus
# that can be accessed externally.

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "k8s-service-discovery.name" . }}-service-discovery-role
  labels:
  {{- include "k8s-service-discovery.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - list
      - get
      - watch
      - create
      - update
  - apiGroups:
      - k8s.cloudogu.com
    resources:
      - dogus
    verbs:
      - list
      - get
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - list
      - get
      - watch
  # update exposed ports in tcp- and udp-services configmaps
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
  # create and update ingress objects for dogus
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  # create and update traefik middlewares for dogus
  - apiGroups:
      - traefik.io
    resources:
      - middlewares
    verbs:
      - get
      - list
      - create
      - update
      - delete